:root {
  --white: white;
  --navy: #08062a;
  --black: black;
  --teal: #0092bc;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: clamp(16px, 1.3vw, 20px);
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3.375rem;
  font-weight: 400;
  line-height: 1.13;
}

h2 {
  margin-top: 0;
  margin-bottom: .3rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.13;
}

p {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: clamp(12px, 1.3vw, 24px);
  font-weight: 400;
  line-height: 1.5;
}

.journey-wrap {
  scroll-snap-type: y mandatory;
  font-family: Inter, sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

.global_style {
  position: fixed;
  inset: 0% auto auto 0%;
}

.page-wrapper {
  background-color: var(--navy);
  color: #fff;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100dvh;
  position: relative;
  overflow: hidden scroll;
}

.styles__nav {
  z-index: 2;
  text-transform: uppercase;
  background-color: #0000;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.1;
  position: sticky;
  top: 0;
}

.container {
  width: 88vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container.align-tall {
  align-self: stretch;
  height: 100vh;
}

.styles__nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.u-p-0 {
  padding: 0;
}

.u-d-flex {
  display: flex;
}

.u-d-flex.cc-align-center {
  align-items: center;
}

.styles__nav-logo {
  color: #0000;
  width: 64px;
  line-height: .8;
}

.styles__nav-version {
  color: #0000;
  text-transform: none;
  background-color: #0000;
  border-radius: 4px;
  margin-left: .8em;
  padding: .35em .5em .4em;
  font-size: .7em;
  line-height: 1em;
  display: inline-block;
}

.styles__nav-link {
  color: #0000;
  letter-spacing: .03em;
  padding: .6em .8em;
  font-size: .85em;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.styles__nav-link:hover, .styles__nav-link.w--current {
  text-decoration: underline;
}

.styles__nav-link.cc-cta {
  background-color: #0000;
  border-radius: 4px;
  margin-left: .4em;
}

.styles__nav-link.cc-cta:hover {
  background-color: #302f2c;
  text-decoration: none;
}

.section {
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  position: relative;
}

.section.intro-pt-2 {
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}

.section.intro-pt-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.styles__section-label {
  letter-spacing: 0;
  text-transform: none;
  border-bottom: 2px dotted #0000;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 8px;
}

.row {
  flex-wrap: wrap;
  align-content: stretch;
  display: flex;
}

.row.row-justify-center {
  justify-content: center;
}

.row.row-align-center {
  justify-content: center;
  align-items: center;
}

.row.row-align-end {
  align-items: flex-end;
}

.row.row-justify-end {
  justify-content: flex-end;
}

.row.row-justify-around {
  justify-content: space-around;
}

.row.row-justify-between {
  justify-content: space-between;
}

.row.row-no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  flex: 1;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.col.col-lg-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col.col-lg-6.col-md-12 {
  min-height: 90vh;
}

.col.col-lg-4 {
  flex-basis: 33.33%;
  max-width: 33.3333%;
}

.col.col-lg-10 {
  flex-basis: 83.33%;
  max-width: 83.3333%;
}

.col.col-lg-1 {
  flex-basis: 8.33%;
  max-width: 8.33333%;
}

.col.col-lg-11 {
  flex-basis: 91.67%;
  max-width: 91.6667%;
}

.col.col-lg-2 {
  flex-basis: 16.67%;
  max-width: 16.6667%;
}

.col.col-lg-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col.col-lg-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col.col-lg-8 {
  flex-basis: 66.67%;
  max-width: 66.6667%;
}

.col.col-lg-5 {
  flex-basis: 41.67%;
  max-width: 41.6667%;
}

.col.col-lg-5.col-md-12 {
  height: 85vh;
  position: relative;
}

.col.col-lg-7 {
  flex-basis: 58.33%;
  max-width: 58.3333%;
}

.col.col-lg-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col.col-lg-first {
  order: -1;
}

.col.col-lg-last {
  order: 1;
}

.col.col-shrink {
  flex: 0 auto;
}

.col.col-no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.col.center {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.col.cc-intro {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
  position: relative;
}

.styles__card {
  background-color: #0073e61a;
  border: 1px solid #0073e6;
  border-radius: 8px;
  overflow: hidden;
}

.u-bg-white {
  background-color: var(--white);
}

.styles__card-preview {
  text-align: center;
  border-bottom: 1px solid #0000;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  display: flex;
  position: relative;
}

.card-body {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  position: relative;
}

.h2 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .3em;
  font-size: clamp(1.5rem, 2.5vw, 2.75rem);
  font-weight: 300;
  line-height: 1.2;
}

.h3 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.2;
}

.u-mb-3 {
  margin-bottom: 3em;
}

.u-mb-1 {
  margin-bottom: 1em;
}

.styles__selector-callout {
  color: #fff;
  letter-spacing: .01em;
  background-color: #0073e6;
  border-radius: 3px;
  margin-top: .1em;
  margin-bottom: .1em;
  margin-right: .2em;
  padding: .08em .6em;
  font-size: .8rem;
  line-height: 1.7;
  display: inline-block;
  position: relative;
  top: -1px;
}

.styles__selector-callout.cc-element {
  background-color: #d13591;
}

.h1 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .2em;
  font-size: clamp(2rem, 3.744vw, 3.37rem);
  line-height: 1.1em;
}

.h4 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .8em;
  font-size: 1.2rem;
  line-height: 1.4em;
}

.paragraph-1-3 {
  margin-bottom: 1em;
  font-size: 1.375rem;
  line-height: 1.4em;
}

.journey_heading {
  letter-spacing: 0;
  margin-bottom: .5rem;
  font-size: clamp(16px, 1.8vw, 18px);
  line-height: 1.5em;
}

.journey_heading._2, .journey_heading._4 {
  margin-left: 55%;
}

.paragraph-0-9 {
  letter-spacing: 0;
  margin-bottom: 1em;
  font-size: .9rem;
  line-height: 1.5em;
}

.eyebrow {
  letter-spacing: .5em;
  text-transform: uppercase;
  font-size: .6875rem;
  font-weight: 700;
  line-height: 1.18;
}

.u-border {
  width: 100%;
  height: 1px;
}

.u-bg-primary {
  background-color: var(--navy);
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-bg-black {
  background-color: var(--black);
}

.u-bg-darkgray, .u-bg-midgray, .u-bg-lightgray {
  background-color: #0000;
}

.u-text-primary {
  color: var(--navy);
}

.u-text-black {
  color: var(--black);
}

.u-text-darkgray, .u-text-midgray, .u-text-lightgray {
  color: #0000;
}

.u-text-white {
  color: var(--white);
}

.btn {
  color: #fff;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: var(--component-button--font-weight);
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: .5rem;
  gap: .4em;
  padding: .7em 1.2em;
  text-decoration: none;
  transition-property: box-shadow, border-color;
  transition-duration: .3s, .3s;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);
  display: inline-flex;
  box-shadow: inset 0 0 #0000;
}

.btn:hover {
  color: #fff;
  box-shadow: inset 0 0 0 100px #00000026;
}

.btn.cc-secondary {
  color: #0000;
  background-color: #0000;
  border-color: #0000;
}

.btn.cc-secondary.cc-light {
  color: #0000;
  border-color: #0000;
}

.btn.cc-secondary.cc-light:hover {
  box-shadow: inset 0 0 0 100px #ffffff26;
}

.btn.cc-light {
  color: #1d1c1a;
  background-color: #fff;
}

.btn-icon {
  max-width: 1.2em;
  line-height: 1;
}

.card {
  border-radius: .5rem;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  margin-bottom: 1em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.form {
  width: 100%;
  position: relative;
}

.input-group {
  text-align: left;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 1px;
  padding-bottom: 40px;
  padding-right: 1px;
  display: block;
  position: relative;
}

.input-group.cc-textarea {
  min-height: 140px;
}

.input-group.cc-toggle {
  margin-bottom: 8px;
  padding: 0 0 0 28px;
}

.input-label {
  z-index: 1;
  color: #0000;
  letter-spacing: 0;
  font-size: .9rem;
  line-height: 1em;
  font-weight: var(--component-input-label--font-weight);
  border-top-right-radius: 3px;
  margin-bottom: 0;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 4px;
  position: relative;
}

.input-label.cc-static {
  background-color: #0000;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: .9rem;
}

.input {
  color: #0000;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: var(--component-input--font-weight);
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: .5rem;
  height: 100%;
  min-height: 65px;
  margin-bottom: 0;
  padding: 32px 16px 8px;
  transition-property: border-color;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
  position: absolute;
  inset: 0%;
}

.input:hover, .input:focus {
  border-color: #d14424;
}

.input::placeholder {
  color: #888680;
}

.input.cc-select {
  background-image: url('../images/arrow-black.svg');
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 12px;
}

.input-radio {
  background-color: #0000;
  border-color: #0000;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  box-shadow: inset 0 0 0 3px #0000;
}

.input-radio:hover {
  background-color: #dfddd6;
  border-color: #d14424;
}

.input-radio.w--redirected-checked {
  background-color: #d14424;
  border-width: 1px;
  border-color: #d14424;
}

.input-radio.w--redirected-focus {
  box-shadow: none;
  outline-offset: 0px;
  border-color: #d14424;
  outline: 2px solid #d14424;
}

.input-check {
  background-color: #0000;
  border-color: #0000;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  box-shadow: 0 0 #0000;
}

.input-check:hover {
  background-color: #dfddd6;
  border-color: #d14424;
}

.input-check.w--redirected-checked {
  background-color: #d14424;
  background-size: 16px;
  border-color: #d14424;
}

.input-check.w--redirected-focus {
  box-shadow: none;
  outline-offset: 0px;
  border-color: #d14424;
  outline: 2px solid #d14424;
}

.form_required-note {
  font-size: .8rem;
  position: absolute;
  inset: auto 0% 0% auto;
}

.form-success {
  background-color: #0000;
  min-height: 320px;
  position: relative;
}

.form-success_flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  inset: 0%;
}

.form-error {
  color: #e31700;
  background-color: #0000;
  border-top: 1px solid #e31700;
  margin-top: 16px;
  padding: 8px 0 0;
}

.u-img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.styles__utility-wrap {
  margin-bottom: 40px;
  padding: 1px;
}

.styles__utility-wrap.cc-margin {
  background-image: url('../images/bg-margin.svg');
  background-position: 0 0;
  background-size: 4px;
}

.styles__utility-wrap.cc-padding {
  background-image: url('../images/bg-padding.svg');
  background-position: 0 0;
  background-size: 4px;
}

.u-mt-0 {
  margin-top: 0;
}

.styles_utility-card {
  background-color: #0073e61a;
  border: 1px solid #0073e6;
  padding: 20px;
}

.u-mt-1 {
  margin-top: 1em;
}

.u-mt-2 {
  margin-top: 2em;
}

.u-mt-3 {
  margin-top: 3em;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mb-2 {
  margin-bottom: 2em;
}

.u-m-0 {
  margin: 0;
}

.u-mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mr-1 {
  margin-right: 1em;
}

.u-ml-1 {
  margin-left: 1em;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pt-1 {
  padding-top: 1em;
}

.u-pt-2 {
  padding-top: 2em;
}

.u-pt-3 {
  padding-top: 3em;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-1 {
  padding-bottom: 1em;
}

.u-pb-1.highlight-scroll {
  background-color: var(--teal);
  font-size: 16px;
}

.u-pb-2 {
  padding-bottom: 2em;
}

.u-pb-3 {
  padding-bottom: 3em;
}

.u-p-1 {
  padding: 1em;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-visible {
  overflow: visible;
}

.u-d-none {
  display: none;
}

.u-d-block {
  display: block;
}

.u-position-relative {
  position: relative;
}

.u-w-100 {
  width: 100%;
}

.u-h-100 {
  height: 100%;
}

.u-minh-100vh {
  min-height: 100vh;
}

.u-link-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.u-sr-only {
  white-space: nowrap;
  border: 0 solid #0000;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.u-aspect-1x1 {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.u-z-index-1 {
  z-index: 1;
  position: relative;
}

.styles__visual-div {
  text-align: center;
  background-color: #0073e61a;
  border: 1px solid #0073e6;
  border-radius: 3px;
  padding: 16px;
  position: relative;
}

.styles__row-example {
  border: 1px dashed #0000;
  height: 200px;
  margin-top: 4px;
  padding: 20px;
}

.u-bg-secondary {
  background-color: var(--teal);
}

.u-text-secondary {
  color: var(--teal);
}

.viewport-wrap {
  height: 100vh;
  padding-bottom: 0;
  padding-right: 0;
}

.sidenav_wrap {
  z-index: 2;
  color: var(--white);
  width: 42px;
  height: 100%;
  margin-right: 17px;
  font-size: 12px;
  position: fixed;
  inset: 0% 0% 0% auto;
}

.sidenav_nav-link {
  z-index: 3;
  border-bottom: 2px solid var(--teal);
  background-color: #0000;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 23%;
  padding-top: 12px;
  display: flex;
  position: relative;
}

.sidenav_nav-link.is-home {
  justify-content: center;
  align-items: center;
  height: 9%;
  padding-top: 4px;
}

.sidenav_popout-wrap {
  z-index: 4;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 16rem;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: none;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.sidenav_popout-wrap.home {
  padding-top: .2rem;
  padding-bottom: 1rem;
  display: none;
}

.sidenav_popout-bg {
  z-index: 0;
  background-color: var(--teal);
  position: absolute;
  inset: 0%;
}

.sidenav_nav-numb {
  z-index: 5;
  width: 1rem;
  height: 1rem;
  font-size: 20px;
  position: relative;
}

.sidenav_nav-numb.u-z-index-1 {
  z-index: 5;
}

.sidenav_nav-numb.progress {
  color: var(--navy);
  margin-top: 12px;
}

.sidenav_border {
  z-index: 4;
  background-color: var(--white);
  opacity: .75;
  width: 1px;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.sidenav_nav-progress {
  z-index: 6;
  background-color: var(--teal);
  justify-content: center;
  align-items: flex-start;
  height: 0%;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.sidenav_nav-progress._1 {
  justify-content: center;
  align-items: flex-start;
  height: 0%;
  display: flex;
}

.sidenav_nav-progress._3 {
  z-index: 6;
  overflow: hidden;
}

.grid-intro {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto;
  place-items: start stretch;
  max-height: 88dvh;
}

.u-weight-semibold {
  font-weight: 600;
}

.line-wrapper {
  -webkit-clip-path: inset(-100vw 0 -100vw -100vw);
  clip-path: inset(-100vw 0 -100vw -100vw);
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.divider-line {
  background-color: var(--teal);
  width: 150%;
  height: 2px;
}

.divider-line.hide {
  display: none;
}

.divider-line._1, .divider-line.first {
  margin-left: -50%;
}

.graphic_wrapper {
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -3rem;
  padding-top: 0;
  padding-left: 4rem;
  padding-right: 0;
  display: flex;
}

.graphic_wrapper.test {
  padding-left: 5rem;
}

.height-1-5 {
  height: 150vh;
  padding-top: 0;
  position: relative;
}

.height-full-vp-sticky {
  z-index: 1;
  height: 100dvh;
  position: sticky;
  top: 0;
}

.height-full-vp-sticky.cc-working {
  height: auto;
  position: static;
}

.graphic {
  width: 100%;
  position: sticky;
  top: 11rem;
}

.graphic.intro-txt {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: stretch;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 6.5rem;
  padding-left: 2rem;
  display: flex;
}

.height-hero {
  width: 10px;
  height: 200vh;
  margin-top: -100vh;
}

.feature_grid {
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  border: 2px solid var(--teal);
  grid-template-rows: auto;
  grid-template-columns: minmax(min-content, min-content) 1fr;
  grid-auto-columns: 1fr;
  padding: 16px;
  display: grid;
  position: relative;
}

.feature_grid.is-stacked {
  border: 2px solid var(--teal);
  grid-template-columns: minmax(100px, max-content);
  display: block;
}

.feature_grid.center {
  justify-content: flex-start;
  align-items: center;
}

.feature_grid.vert {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.feature_num {
  font-size: clamp(1.5rem, 3.3vw, 3rem);
  line-height: 1;
}

.feature_num.float {
  float: left;
  padding-right: 2rem;
}

.feature_txt {
  color: var(--teal);
  font-size: clamp(1.125rem, 1.6vw, 2rem);
  font-weight: 300;
  line-height: 1.13;
}

.feature_txt-source {
  color: var(--teal);
  text-align: left;
  margin-bottom: -8px;
  font-size: 11px;
  line-height: 14px;
}

.feature_txt-source.cc-long {
  inset: auto auto -1.5rem 0%;
}

.feature_txt-source.cc-left {
  text-align: right;
  margin-top: 4px;
}

.feature_txt-source.cc-left.absolute {
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: absolute;
  inset: auto 0% 0% auto;
}

.section_subhead.u-weight-med {
  font-weight: 500;
}

.section_subhead.u-weight-med.u-text-secondary {
  white-space: nowrap;
}

.u-weight-med {
  font-weight: 500;
}

.dropdown_component {
  min-height: 5.2rem;
}

.dropdown_component.expanded {
  z-index: 1;
}

.dropdown_txt-wrap {
  background-color: var(--teal);
  color: var(--navy);
  padding: 8px 12px;
  display: inline-block;
}

.dropdown_link {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--teal);
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: var(--teal);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--teal);
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: var(--teal);
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: clamp(12px, 1.3vw, 24px);
  font-weight: 300;
  text-decoration: none;
  display: flex;
  position: relative;
}

.dropdown_link.child.close, .dropdown_link.hide {
  display: none;
}

.icon-1 {
  width: 1rem;
  height: 1rem;
}

.icon-1.u-z-index-1.parent {
  transform: rotate(90deg);
}

.dropdown_hover-overlay {
  background-color: var(--teal);
  width: 0%;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.icon-xs {
  z-index: 1;
  width: 12px;
  height: 12px;
}

.layout1_image-wrapper {
  width: 100%;
}

.layout1_image {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.subchapter_head-wrap._1 {
  display: block;
}

.subchapter_head-wrap.working {
  margin-top: 0;
}

.subchapter_wrap {
  width: 100%;
  position: absolute;
  top: 2rem;
}

.subchapter_wrap.is-active {
  display: block;
}

.chapter_head-wrap {
  width: 100%;
  padding-bottom: .5rem;
}

.chapter_head-wrap.cc-working {
  height: auto;
}

.chapter_p-wrap, .chapter_wrap {
  position: relative;
}

.chapter_wrap._1 {
  -webkit-clip-path: inset(0 -100vw -100vw);
  clip-path: inset(0 -100vw -100vw);
  position: relative;
}

.chapter_wrap._2, .chapter_wrap._3, .chapters_all-height.rel {
  position: relative;
}

.chapter-1_height {
  z-index: 20;
  background-color: #700;
  width: 10px;
  height: 1000vh;
  margin-top: -100vh;
  position: relative;
}

.chapter-2_height {
  background-color: #545800;
  width: 10px;
  height: 200vh;
}

.subsection {
  width: 100%;
  position: absolute;
}

.subsection.hide {
  display: none;
}

.subsection.overlaid {
  width: 100%;
}

.subsection.static {
  position: static;
}

.subsection.absolute {
  position: absolute;
}

.subsection.md-only {
  display: none;
}

.subchap {
  width: 5px;
}

.subchap._2 {
  height: 15.385%;
}

.subchap._2.a {
  height: 23.077%;
}

.subchap._3 {
  height: 50%;
}

.subchap._4 {
  height: 28.571%;
}

.subchap._4.a {
  height: 41.8571%;
}

.page {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100dvh;
}

.page.is-third {
  height: 33.333%;
}

.page.mobile {
  display: none;
}

.page.mobile.nested {
  margin-top: 100dvh;
}

.page.u-desktop-hide {
  display: none;
}

.page.double {
  scroll-snap-align: none;
  height: 200dvh;
}

.scroll-down_wrap {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 15rem;
  height: 7rem;
  margin-bottom: -2rem;
  margin-right: auto;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
}

.scroll-down_wrap.home {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  inset: auto 0% 0%;
}

.scroll-down_wrap.intro {
  margin-bottom: 0;
  position: static;
  inset: auto auto 0% 0%;
}

.icon-lg {
  width: 3rem;
}

.chapter_head {
  width: 100%;
  margin-bottom: -9.5rem;
  position: absolute;
  overflow: visible;
}

.chapter_head.u-mb-0 {
  margin-bottom: 0;
}

.chapter {
  width: 10px;
}

.chapter.chapter-1_height {
  background-color: #7000;
}

.chapter.chapter-2_height {
  background-color: #fff0;
  height: 1300vh;
}

.chapter.chapter-3_height {
  height: 400vh;
}

.chapter.chapter-4_height {
  height: 700vh;
}

.chapter.height-hero {
  margin-top: 0;
  position: absolute;
  inset: 0% auto auto 0%;
}

.spacer {
  width: 10px;
  height: 100vh;
}

.spacer.s {
  height: 1rem;
}

.spacer.md {
  height: 2rem;
}

.spacer._50 {
  height: 50vh;
}

.dropdown_label, .dropdown_children {
  overflow: hidden;
}

.feature_wrap {
  display: flex;
}

.quote_txt {
  color: var(--teal);
  font-family: Bitter, serif;
  font-size: clamp(18px, 1.944vw, 24px);
  line-height: 1.2;
}

.quote_wrap {
  border-left: 2px solid var(--teal);
  padding-left: 2rem;
}

.navbar {
  background-color: #ddd0;
}

.sidenav_progress-link {
  color: var(--navy);
  margin-top: 12px;
  font-size: 20px;
}

.intro_wrapper {
  position: relative;
}

.hxl {
  font-size: clamp(2rem, 5vw, 5rem);
}

.max-width-sm {
  width: 50rem;
}

.intro_component {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.u-mb-5 {
  margin-bottom: 5rem;
}

.bg-lottie-wrapper {
  width: 100%;
  height: 200vh;
  margin-bottom: -100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.full-screen-lottie {
  width: 100%;
  height: 100vh;
}

.full-screen-lottie._1.mobile {
  display: none;
}

.full-screen-lottie.overlay {
  position: absolute;
  inset: 0%;
}

.section_subhead-spacer {
  width: 5px;
  height: 9ch;
}

.pixel {
  width: 1px;
  height: 1px;
}

.line-spacer {
  height: 3rem;
}

.hero-bg_2 {
  position: relative;
}

.layout1_lottie {
  width: 100%;
  position: absolute;
  inset: 0% 0% auto;
}

.layout1_lottie.preload {
  height: 0;
}

.spacer-dw {
  width: 5px;
  height: 10.5rem;
}

.all-chapters {
  z-index: 100;
  width: 10px;
  margin-top: -100dvh;
  position: relative;
}

.journey_stop {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.journey_stop._2 {
  margin-left: 11rem;
}

.journey_stop._4 {
  margin-left: 10.3rem;
}

.journey_stop-lottie {
  width: 10rem;
  height: 10rem;
}

.icon-2 {
  width: 2rem;
}

.scroll-down_lottie {
  width: 1.5rem;
}

.map_wrap {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 45vw;
  margin-bottom: -12px;
  margin-right: 3vw;
  display: block;
  position: absolute;
  inset: auto 0% 0% auto;
}

.map_wrap.coins {
  z-index: 2;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  position: sticky;
}

.nav-placeholder {
  justify-content: center;
  align-items: center;
  height: 5vh;
  display: flex;
}

.desktop-nav {
  object-fit: contain;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mobile-nav {
  object-fit: contain;
  height: 100%;
  display: none;
}

.feature_line-l {
  background-color: var(--teal);
  width: 2px;
  height: 100%;
  position: absolute;
  inset: auto auto 0% 0%;
}

.feature_line-b {
  background-color: var(--teal);
  width: 100%;
  height: 2px;
  position: absolute;
  inset: auto auto 0% 0%;
}

.feature_line-r {
  background-color: var(--teal);
  width: 2px;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto auto;
}

.feature_line-t {
  background-color: var(--teal);
  width: 100%;
  height: 2px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.bg {
  background-color: var(--navy);
}

.lottie {
  border: 1px solid var(--teal);
  width: 300px;
  height: 300px;
}

.test-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.line-wrap {
  position: absolute;
  inset: 0%;
}

.bg-wrapper {
  z-index: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100vh;
  display: flex;
  position: sticky;
  inset: 0%;
}

.bg-img {
  object-fit: cover;
  height: 100%;
  position: absolute;
}

.bg-img.lottie {
  opacity: .21;
  width: 100%;
}

.bg-img.u-desktop-hide {
  display: none;
}

.bg-follow {
  z-index: 1;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--teal), #fff0 72%);
  opacity: .24;
  mix-blend-mode: difference;
  border-radius: 100%;
  width: 1000px;
  height: 1000px;
  position: relative;
}

.hide {
  display: none;
}

.scroll-inner {
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 5rem;
  display: flex;
  overflow: hidden;
}

.scroll-inner.hide {
  display: none;
}

.scroll-inner.scroll {
  opacity: 1;
  font-size: clamp(16px, 1.3vw, 20px);
  line-height: 1.2;
  display: flex;
}

.scroll-inner.done {
  opacity: 0;
  height: 0;
}

.end-line {
  background-color: var(--white);
  border-radius: 4px;
  align-self: center;
  width: 2px;
  height: 2.6rem;
  margin-left: 11px;
  margin-right: 16px;
}

.text-size-md {
  font-size: 20px;
  line-height: 22px;
}

.map_chap {
  z-index: 2;
  opacity: 1;
  width: 100%;
  margin-bottom: -12px;
  display: block;
  position: absolute;
  inset: auto 0% 0%;
}

.map_chap.is-active {
  z-index: 1;
  opacity: 1;
  display: block;
}

.map_guide {
  opacity: 0;
}

.map_line {
  opacity: 1;
  position: absolute;
  inset: auto 0% 0%;
}

.map_coins {
  z-index: 2;
  position: absolute;
  inset: auto 0% 0%;
}

.map_coins.flag {
  opacity: 0;
}

.map_coins.flag.title {
  z-index: 3;
}

.map_coins.guide {
  position: absolute;
  inset: auto 0% 0%;
}

.coin_col {
  flex: 1;
  height: 100%;
}

.coin_row {
  z-index: 100;
  height: 10rem;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.coin_wrap {
  z-index: 3;
  width: 100%;
  position: absolute;
  inset: auto 0% 0%;
}

.icon-home {
  color: var(--teal);
  width: 2.25rem;
  margin-left: 1rem;
}

.u-no-underline {
  text-decoration: none;
}

.map_line-wrap {
  width: 100%;
  position: absolute;
  inset: auto 0% 0%;
}

.intro_text-wrap {
  margin-top: 4rem;
  margin-bottom: auto;
}

.hero_text-wrap {
  margin-bottom: 5rem;
}

.bg-moving_wrap {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.bg-moving_lottie {
  z-index: 1;
  object-fit: cover;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  inset: 0%;
}

.bg-moving_overlay {
  z-index: 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}

.bg-moving_bg {
  z-index: 0;
  object-fit: cover;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.subchapter_head {
  min-height: 9ch;
}

.journey_stop-wrap {
  width: 15rem;
  margin-left: 8rem;
  padding: 1rem;
  position: absolute;
}

.journey_stop-bg {
  background-image: linear-gradient(94deg, #008fbe80, #008fbe33);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.journey_stop-txt-wrap {
  z-index: 1;
  position: relative;
}

.journey_stop-p {
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .journey_heading {
    font-weight: 500;
  }

  .intro_component {
    width: 45rem;
  }

  .bg-moving_wrap {
    display: block;
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .h1 {
    font-size: clamp(2rem, 3.744vw, 3.37rem);
  }

  .line-wrapper {
    justify-content: flex-end;
    align-items: center;
  }

  .height-full-vp-sticky {
    position: sticky;
  }

  .intro_component {
    width: 50rem;
  }

  .full-screen-lottie.overlay {
    position: absolute;
    inset: 0%;
  }

  .bg-wrapper {
    position: sticky;
  }

  .coin_row {
    height: 12rem;
  }

  .intro_text-wrap {
    max-width: 45rem;
  }

  .journey_stop-wrap {
    width: 16.875rem;
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 3rem;
  }

  .container {
    max-width: 1800px;
  }

  .col.col-lg-5.col-md-12.main {
    max-width: 45rem;
    padding-top: 10dvh;
  }

  .h1 {
    font-size: clamp(2rem, 3.744vw, 4rem);
  }

  .journey_heading {
    font-size: clamp(16px, 1.8vw, 32px);
  }

  .height-hero {
    z-index: 20;
    position: relative;
  }

  .subchapter_wrap {
    top: 3.5dvh;
  }

  .scroll-down_wrap {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .quote_txt {
    font-size: clamp(16px, 1.944vw, 32px);
  }

  .hxl {
    font-size: clamp(3.8rem, 5vw, 5rem);
  }

  .intro_component {
    width: 60rem;
  }

  .section_subhead-spacer {
    height: 10ch;
  }

  .journey_stop._2 {
    margin-left: 19rem;
  }

  .journey_stop._4 {
    margin-left: 18rem;
  }

  .journey_stop-lottie {
    width: 13rem;
    height: 13rem;
  }

  .scroll-inner.scroll {
    width: 25rem;
  }

  .coin_row {
    height: 16rem;
  }

  .bg-moving_wrap {
    display: block;
  }

  .subchapter_head {
    min-height: 10ch;
  }

  .journey_stop-wrap {
    width: 25rem;
    margin-left: 11rem;
  }
}

@media screen and (max-width: 991px) {
  body {
    color: var(--white);
  }

  h2 {
    font-size: 2rem;
  }

  .page-wrapper {
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
  }

  .page-wrapper.test {
    scroll-snap-type: none;
    height: auto;
    overflow-y: auto;
  }

  .container {
    height: 100%;
  }

  .u-p-0 {
    padding: 0;
  }

  .section {
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 6rem;
    display: flex;
  }

  .section.intro-pt-2 {
    padding-bottom: 1rem;
    overflow: hidden;
  }

  .section.all-caps {
    padding-top: 0;
  }

  .row {
    flex-flow: column;
  }

  .col.col-lg-5.col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .col.col-md-1 {
    flex-basis: 8.33%;
    max-width: 8.33333%;
  }

  .col.col-md-11 {
    flex-basis: 91.67%;
    max-width: 91.6667%;
  }

  .col.col-md-2 {
    flex-basis: 16.67%;
    max-width: 16.6667%;
  }

  .col.col-md-10 {
    flex-basis: 83.33%;
    max-width: 83.3333%;
  }

  .col.col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col.col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col.col-md-4 {
    flex-basis: 33.33%;
    max-width: 33.3333%;
  }

  .col.col-md-8 {
    flex-basis: 66.67%;
    max-width: 66.6667%;
  }

  .col.col-md-5 {
    flex-basis: 41.67%;
    max-width: 41.6667%;
  }

  .col.col-md-7 {
    flex-basis: 58.33%;
    max-width: 58.3333%;
  }

  .col.col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col.col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col.col-md-first {
    order: -1;
  }

  .col.col-md-last {
    order: 1;
  }

  .col.top {
    height: 50%;
  }

  .h3 {
    font-size: 1.8rem;
  }

  .h1 {
    font-size: 2.5rem;
  }

  .h4 {
    font-size: 1.2rem;
  }

  .div-block {
    font-size: 1.25rem;
  }

  .paragraph-1-3 {
    font-size: 1.5rem;
  }

  .paragraph-0-9 {
    font-size: .9rem;
  }

  .eyebrow {
    font-size: .6rem;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-mt-0 {
    margin-top: 0;
  }

  .u-mb-2 {
    margin-bottom: 1em;
  }

  .u-m-0 {
    margin: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-position-relative.align-center {
    flex: 1;
  }

  .sidenav_wrap {
    width: auto;
    height: auto;
    margin-right: 0;
    padding-top: 0;
    position: sticky;
  }

  .sidenav_nav-link {
    border-bottom-color: var(--navy);
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding-top: 0;
    padding-left: 1rem;
  }

  .sidenav_nav-link.is-home {
    padding-top: 0;
    display: block;
  }

  .sidenav_popout-wrap {
    min-width: 100%;
    padding: 1.3rem 1.4rem;
    display: flex;
    position: static;
  }

  .sidenav_popout-wrap.home {
    text-align: left;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    display: block;
  }

  .sidenav_nav-numb {
    color: var(--navy);
    display: block;
    position: absolute;
    inset: 1.4rem 1.5rem auto auto;
  }

  .sidenav_nav-numb.u-z-index-1 {
    color: var(--navy);
    font-size: 16px;
  }

  .sidenav_border, .sidenav_nav-progress {
    display: none;
  }

  .grid-intro {
    grid-template-columns: 1fr;
    height: 100%;
  }

  .line-wrapper {
    padding-bottom: 0;
  }

  .divider-line {
    display: none;
  }

  .graphic_wrapper {
    z-index: 3;
    background-image: linear-gradient(0deg, var(--navy) 41%, #1b193b00);
    height: 55vh;
    padding-left: 0;
    position: absolute;
    inset: auto 0% -3rem;
    overflow: hidden;
  }

  .graphic_wrapper.test {
    z-index: 200;
    background-image: linear-gradient(0deg, var(--navy) 69%, #1b193b00);
    position: fixed;
  }

  .height-full-vp-sticky {
    z-index: 50;
    padding-top: 3rem;
  }

  .graphic {
    position: static;
    top: 0;
  }

  .graphic.intro-txt {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
  }

  .feature_grid.u-position-relative {
    flex-flow: column;
  }

  .feature_grid.mobile-stacked.mobile-bg {
    background-color: var(--navy);
  }

  .feature_txt-source {
    position: static;
    bottom: -62%;
  }

  .dropdown_component.expanded {
    z-index: 1;
  }

  .dropdown_component.expanded.hide {
    display: none;
  }

  .dropdown_txt-wrap {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
  }

  .dropdown_link {
    cursor: pointer;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 1rem;
  }

  .dropdown_link.child {
    border-width: 1px 0;
    border-color: var(--navy);
    background-color: var(--teal);
    color: var(--navy);
    padding: 1.5rem 2rem;
    font-size: 1rem;
  }

  .dropdown_link.child.close {
    background-color: var(--white);
    display: flex;
    position: static;
    inset: auto 0% 0%;
  }

  .dropdown_link.child.solo {
    border-width: 2px;
    border-color: var(--teal);
    color: var(--white);
    background-color: #0092bc00;
    padding: .8rem 1rem;
  }

  .icon-1.u-z-index-1.parent {
    transform: none;
  }

  .icon-xs {
    z-index: 5;
    color: var(--navy);
    flex: none;
    position: relative;
  }

  .layout1_image-wrapper {
    height: 100%;
  }

  .layout1_image {
    aspect-ratio: auto;
    object-fit: contain;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .subsection {
    margin-bottom: 1rem;
  }

  .subsection.md-only, .page.mobile, .page.u-desktop-hide {
    display: block;
  }

  .scroll-down_wrap, .scroll-down_wrap.home, .chapter_head, .spacer {
    display: none;
  }

  .spacer.s {
    display: block;
  }

  .dropdown_label.mobile-bg {
    background-color: var(--navy);
  }

  .dropdown_children {
    z-index: 9999;
    opacity: 0;
    background-color: #08062abf;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 0%;
    transition: height .3s, opacity .2s;
    display: flex;
    position: fixed;
    inset: auto 0% 0%;
  }

  .dropdown_children.open {
    opacity: 1;
    height: 100%;
    padding-top: 3rem;
  }

  .quote_wrap {
    padding-left: 1rem;
  }

  .navbar {
    z-index: 100;
    background-color: var(--navy);
    position: sticky;
    top: 0;
  }

  .nav-menu {
    width: 100%;
  }

  .mobile-menu_btn {
    z-index: 100;
    border-bottom: 2px solid var(--teal);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .mobile-menu_btn.w--open {
    background-color: var(--navy);
  }

  .nav_header {
    color: var(--teal);
  }

  .mobile-menu_btn-wrap {
    justify-content: space-between;
    align-items: stretch;
    max-width: 88vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .intro_component {
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: -3rem;
  }

  .full-screen-lottie._1.desktop {
    display: none;
  }

  .full-screen-lottie._1.mobile {
    height: auto;
    margin-top: 3rem;
    display: block;
  }

  .line-spacer {
    height: .5rem;
  }

  .layout1_lottie {
    z-index: 200;
    padding-left: 20%;
    padding-right: 20%;
  }

  .spacer-dw {
    display: none;
  }

  .all-chapters {
    z-index: 9999;
    width: 5px;
    position: relative;
  }

  .hero-bg_1 {
    height: 100vh;
    display: flex;
  }

  .journey_stop, .journey_stop._1 {
    text-align: center;
    flex-flow: column;
  }

  .journey_stop._2, .journey_stop._4 {
    margin-left: 0;
  }

  .map_wrap, .map_wrap.coins, .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .u-md-hide {
    display: none;
  }

  .bg-img.u-desktop-hide {
    display: block;
  }

  .bg-follow {
    border-radius: 0%;
    display: block;
  }

  .hero_text-wrap {
    margin-bottom: 2rem;
  }

  .hero_subtitle-wrap {
    width: 75%;
  }

  .hero_bg-1 {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: relative;
  }

  .bg-moving_wrap {
    display: none;
  }

  .subchapter_head {
    min-height: auto;
  }
}

@media screen and (max-width: 767px) {
  .u-p-0 {
    padding: 0;
  }

  .styles__nav-menu {
    background-color: #302f2c;
    padding: 12px 5% 20px;
  }

  .styles__nav-link {
    text-align: left;
    padding: .6em 0;
    display: block;
  }

  .styles__nav-link.cc-cta {
    background-color: #0000;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .styles__nav-link.cc-cta:hover {
    background-color: #0000;
    text-decoration: underline;
  }

  .styles__nav-btn {
    margin-top: -2px;
    padding: 0 2px;
    font-size: 1.8rem;
    line-height: 1;
  }

  .styles__nav-btn:hover {
    background-color: #302f2c;
  }

  .styles__nav-btn.w--open {
    background-color: #302f2c;
    border-radius: 4px;
  }

  .styles__nav-btn-icon {
    width: 28px;
    height: 28px;
  }

  .section {
    padding-bottom: 3rem;
  }

  .styles__section-label {
    padding-bottom: 10px;
  }

  .col.col-sm-1 {
    flex-basis: 8.33%;
    max-width: 8.33333%;
  }

  .col.col-sm-11 {
    flex-basis: 91.67%;
    max-width: 91.6667%;
  }

  .col.col-sm-2 {
    flex-basis: 16.67%;
    max-width: 16.6667%;
  }

  .col.col-sm-10 {
    flex-basis: 83.33%;
    max-width: 83.3333%;
  }

  .col.col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col.col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col.col-sm-4 {
    flex-basis: 33.33%;
    max-width: 33.3333%;
  }

  .col.col-sm-8 {
    flex-basis: 66.67%;
    max-width: 66.6667%;
  }

  .col.col-sm-5 {
    flex-basis: 41.67%;
    max-width: 41.6667%;
  }

  .col.col-sm-7 {
    flex-basis: 58.33%;
    max-width: 58.3333%;
  }

  .col.col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col.col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col.col-sm-first {
    order: -1;
  }

  .col.col-sm-last {
    order: 1;
  }

  .card-body {
    padding: 20px;
  }

  .h3 {
    font-size: 1.4rem;
  }

  .h4 {
    font-size: 1.2rem;
  }

  .div-block {
    font-size: 1.1rem;
  }

  .paragraph-1-3 {
    font-size: 1.3rem;
  }

  .journey_heading {
    font-size: 1.1rem;
  }

  .paragraph-0-9 {
    font-size: .9rem;
  }

  .eyebrow {
    font-size: .8rem;
  }

  .btn {
    padding: .5em 1em;
  }

  .form-success_flex {
    max-width: 340px;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .feature_grid.u-position-relative {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .layout1_image {
    width: 75%;
  }

  .subchapter_wrap {
    top: 1rem;
  }

  .full-screen-lottie._1.mobile {
    height: auto;
  }

  .layout1_lottie {
    padding-left: 10%;
    padding-right: 10%;
  }

  .hero_text-wrap {
    margin-top: 2rem;
  }

  .bg-1_mobile {
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 14px;
  }

  .u-p-0 {
    padding: 0;
  }

  .styles__nav-menu {
    padding-left: 7%;
    padding-right: 7%;
  }

  .section {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .section.intro-pt-2 {
    padding-top: 2rem;
  }

  .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col.col-xs-1 {
    flex-basis: 8.33%;
    max-width: 8.33333%;
  }

  .col.col-xs-11 {
    flex-basis: 91.67%;
    max-width: 91.6667%;
  }

  .col.col-xs-2 {
    flex-basis: 16.67%;
    max-width: 16.6667%;
  }

  .col.col-xs-10 {
    flex-basis: 83.33%;
    max-width: 83.3333%;
  }

  .col.col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col.col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col.col-xs-4 {
    flex-basis: 33.33%;
    max-width: 33.3333%;
  }

  .col.col-xs-8 {
    flex-basis: 66.67%;
    max-width: 66.6667%;
  }

  .col.col-xs-5 {
    flex-basis: 41.67%;
    max-width: 41.6667%;
  }

  .col.col-xs-7 {
    flex-basis: 58.33%;
    max-width: 58.3333%;
  }

  .col.col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col.col-xs-first {
    order: -1;
  }

  .col.centered {
    width: auto;
    max-width: none;
  }

  .h2 {
    font-size: clamp(1rem, 2.5vw, 2.75rem);
  }

  .h3 {
    font-size: 1.4rem;
  }

  .h1 {
    font-size: 1.6rem;
  }

  .h4 {
    font-size: 1.2rem;
  }

  .div-block {
    font-size: 1.1rem;
  }

  .paragraph-1-3 {
    font-size: 1.3rem;
  }

  .paragraph-0-9 {
    font-size: .9rem;
  }

  .eyebrow {
    font-size: .6rem;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-mt-0 {
    margin-top: 0;
  }

  .u-mt-1.mobile-m0 {
    margin-top: 0;
  }

  .u-mt-3 {
    margin-top: 2em;
  }

  .u-m-0 {
    margin: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .styles__row-example {
    height: auto;
  }

  .line-wrapper {
    padding-top: .5rem;
  }

  .graphic_wrapper.test {
    height: 40vh;
  }

  .graphic.intro-txt {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    display: none;
  }

  .feature_grid.mobile-stacked {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: minmax(auto, 500px);
    grid-auto-columns: 1fr;
    justify-items: start;
    display: grid;
  }

  .feature_txt {
    font-size: 1.2rem;
  }

  .feature_txt-source {
    inset: auto -9% -35% auto;
  }

  .section_subhead.u-weight-med.u-text-secondary {
    font-size: 14px;
  }

  .dropdown_txt-wrap {
    padding: 4px 8px;
    font-size: 10px;
  }

  .layout1_image {
    width: 100%;
  }

  .subsection.hide {
    display: none;
  }

  .subsection.overlaid {
    position: absolute;
    inset: 0% 0% auto;
  }

  .subchap.lg {
    height: 150dvh;
  }

  .spacer {
    display: none;
  }

  .intro_component {
    padding-bottom: 10rem;
  }

  .bg-lottie-wrapper {
    overflow: hidden;
  }

  .full-screen-lottie._1.desktop {
    display: none;
  }

  .full-screen-lottie._1.mobile {
    height: auto;
    margin-top: 3rem;
    display: block;
  }

  .layout1_lottie {
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
  }

  .journey_stop {
    width: 25%;
  }

  .bg-follow {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--teal), #fff0 47%);
    border-radius: 0%;
  }

  .hero_text-wrap {
    margin-top: 1rem;
  }

  .hero_bg-1 {
    height: 100vh;
    padding-bottom: 10rem;
  }
}

#w-node-_85ad5f86-4fab-7316-ce0f-88e5d0cd05dc-c802234e {
  align-self: stretch;
}

#w-node-d708f177-73cb-514a-535b-8477b4ccada0-c802234e, #w-node-_2a74b4a5-6aca-540a-b393-675ac468ed32-c802234e, #w-node-_27852f20-ff97-bcf3-ecf5-d2944ed8576f-c802234e, #w-node-fde7ce04-d953-eb39-94d4-e455f617f5e0-c802234e, #w-node-fad699ec-2702-bd04-89ad-107c68704e02-c802234e, #w-node-ad7466a1-b275-029e-d87f-ba6dd4f80063-c802234e {
  align-self: center;
}

#w-node-fdf03fe9-4880-46a2-0b48-cd1f256de50d-c802234e {
  justify-self: center;
}

#w-node-_3ab1c5d9-dce2-27d4-0ecd-b4aa02b9c3a3-c802234e {
  align-self: center;
}

#w-node-_8b6def20-5475-06f6-2503-826fb9de9601-c802234e {
  justify-self: center;
}

#w-node-d4459399-3895-38d8-8ec8-3ea5c47ba453-c802234e {
  align-self: center;
}

#w-node-bc67d7c9-7900-675e-cb85-a642210dd62c-c802234e {
  justify-self: center;
}

#w-node-fdf03fe9-4880-46a2-0b48-cd1f256de510-c802234e {
  align-self: center;
}

#w-node-eb285d63-1d40-d42b-167d-d3c8762973bf-c802234e {
  justify-self: center;
}

#w-node-d2ed97a8-7ead-1812-0304-318f6a1c2b54-c802234e {
  align-self: center;
}

#w-node-_7a5e4797-c15a-34d3-1fa3-403e33973b61-c802234e, #w-node-_2b234e59-3ca1-c503-f551-f4b4a37e63c0-c802234e, #w-node-_254abcaf-5f77-f424-c074-0dc2d35c4c0c-c802234e {
  justify-self: center;
}

#w-node-_254abcaf-5f77-f424-c074-0dc2d35c4c0f-c802234e, #w-node-_972e6e28-ce4d-c59a-6608-1b111107d511-c802234e {
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_6b0b5a8c-f9fe-23f0-4a5a-f20929f4ddf3-c802234e, #w-node-_2b234e59-3ca1-c503-f551-f4b4a37e63c3-c802234e {
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-eb285d63-1d40-d42b-167d-d3c8762973bf-c802234e, #w-node-_7a5e4797-c15a-34d3-1fa3-403e33973b61-c802234e, #w-node-_2b234e59-3ca1-c503-f551-f4b4a37e63c0-c802234e, #w-node-_254abcaf-5f77-f424-c074-0dc2d35c4c0c-c802234e {
    justify-self: start;
  }
}


