.content {
  background-image: linear-gradient(#00000080, #00000080), url('../images/michael-dziedzic--JePmjpp3uQ-unsplash.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.text-block {
  color: #fff;
  text-align: center;
  letter-spacing: .5rem;
  font-family: Bitter, serif;
  font-size: 10rem;
  font-weight: 700;
  line-height: 10rem;
}

.body {
  letter-spacing: 1rem;
  background-color: #0000;
  height: auto;
}

.contentcontainer {
  height: 60vh;
}
