body {
    font-family: 'Inter', sans-serif;
    font-weight: 300; /* Light */
    background-color: #08062A; /* Page background color */
    color: #00EB80; /* Text color outside of the form */
}

h1 {
    color: #00EB80; /* Text color for headline */
}

#filter-form {
    margin-bottom: 20px;
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add border radius */
}

#filter-form label {
    color: #00EB80; /* Text color for "Enter Symbol" */
}

#filter-form input[type="text"] {
    color: #00EB80; /* Input text color */
    background-color: #08062A; /* Input background color */
    border: 1px solid #00EB80; /* Add stroke */
    padding: 8px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: text; /* Set cursor type */
}

#filter-form input[type="text"]:focus {
    outline: none; /* Remove focus outline */
}

#filter-form button {
    color: #08062A; /* Text color for filter button */
    background-color: #00EB80; /* Background color for filter button */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 5px; /* Add border radius */
}

#filtered-data {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #08062A; /* Table border weight */
}

th, td {
    border: 1px solid #08062A; /* Table border weight */
    text-align: left;
    padding: 8px;
}

th {
    background-color: #00EB80; /* Background color for the first row */
    color: #08062A; /* Text color for categories */
}

tr:first-child th {
    border-bottom: 2px solid #08062A; /* Divider color for the first row */
}

tr:not(:first-child) {
    background-color: transparent; /* Make all rows except the first one transparent */
}
