.header {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #08062a;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow: visible;
}

.body {
  height: auto;
}

.size-container {
  height: 100vh;
  font-family: Inter, sans-serif;
}

.video-embed {
  z-index: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: static;
}

.div-block {
  z-index: 5;
  background-color: #08062a;
  position: absolute;
}

.content-container {
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(90deg, #08062a, #08062a80);
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: visible;
}

.pattern-container {
  z-index: 1;
  aspect-ratio: 3 / 5;
  object-fit: fill;
  background-image: url('../images/plus-minus.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  align-items: stretch;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  overflow: visible;
}

.code-embed {
  width: 100%;
  height: 100%;
}

.content {
  z-index: 0;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  display: flex;
  position: absolute;
}

.heading {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.125rem;
}

.category {
  color: #8050ed;
  letter-spacing: .75rem;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1rem;
}

.paragraph {
  color: #fff;
  width: 50%;
  margin-bottom: 0;
  font-size: .85rem;
  font-weight: 200;
  line-height: 1.125rem;
}

.headline {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border-bottom: 1px solid #8050ed;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
  display: flex;
}

.link {
  color: #8050ed;
}

@media screen and (max-width: 991px) {
  .content-container {
    width: 85%;
  }

  .pattern-container {
    width: 35%;
  }

  .paragraph, .headline {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .content-container {
    width: 100%;
  }

  .pattern-container {
    background-position: 0%;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
  }
}

@media screen and (max-width: 479px) {
  .size-container {
    height: 60vh;
  }

  .pattern-container {
    display: none;
  }

  .heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .paragraph {
    width: 90%;
  }

  .headline {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    width: 90%;
  }
}


